


<html>
<h1 class="centerize">Welcome to PaymentSplit!</h1>

<br>
<body>

	<div class="centerize" style="float:center;">
		<%= button_to('View events', events_path, :class => 'btn btn-large btn-primary', :method => :get) %>
	</div>

	<div class="centerize" style="float:center;">
		<%= button_to('Create events', new_event_path, :class => 'btn btn-large btn-primary', :method => :get) %>
	</div>

</body>
</html>