<div class="back-buttons">
	<%= button_to events_path, :class => 'my-btn gr-btn back-btn', :method => :get do %>
		Back
	<% end %>	
</div>

<div class="new-event-container">
	<h1>New event</h1>
	<%= render 'form' %>
</div>
