<div class="back-buttons">
  <%= button_to events_path, :class => 'my-btn gr-btn back-btn', :method => :get do %>
    All events
  <% end %>
</div>

<div class="purchases-container">
  <h1>Your payments</h1>
  <table class="table center">
    <thead>
      <tr>
        <th>Event</th>
        <th>Description</th>
        <th class="amount">Amount</th>
      </tr>
    </thead>

    <tbody>
      <% @payments.each do |payment| %>
        <tr>

          <td><%= link_to payment.event.name, event_path(payment.event) %></td>
          <td><%= payment.description %></td>
          <td class="amount"><%= number_to_currency(payment.amount) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>


