body {
	padding-top: 40px;
}

.event-description {
	color: gray;
	font-size: 13px;
	width: auto;
}

.event_left_sidebar {
	background-color: #EEE;
}

#logout-text {
	padding-top: 10px;
	color: white;
}

.flash {
	position: fixed;
	left: 50%;
	/* Centers the element*/
	transform:translate(-50%);
	-webkit-transform: translate(-50%);
	width: 200px;
	padding: 5px;
  	margin-bottom: 10px;
  	text-align: center;
  	clear: both;
}

#flash_success {
  border: 1px solid green;
  background-color: #ae8;
  color: green;
}

#flash_notice {
  border: 1px solid red;
  background-color: #ea8;
  color: red;
}

.container {
	clear: both;
	border-radius: 0px;
}

.my-btn {
	display: inline-block;
	padding: 4px 12px;
	margin-bottom: 0px;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
}

.button-to {
	margin-bottom: 0px;
}

#login-btn {
	margin-left: 5px;
}

#signup-btn {
	float: left;
	margin-top: 5px;
	width: 220px;
}



.gr-btn {
	border: 1px solid green;
	background-color: green;
	color: white;
	&:hover {
		background-color: #2a2;
		border-color: #2a2;
	}
}

login form {
	margin-bottom: 0px;
}

#landing-container {
	width: 600px;
	height: 200px;
	background-color: #eee;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

#left-container {
	width: 48%;
	height: 194px;
	margin-left: 1%; 
	margin-right: 1%;
	margin-top: 3px;
	float: left;
	background-color: green;
	vertical-align: middle;
	text-align: center;
	color: white;
}
#right-container {
	width: 37%;
	height: 194px;
	margin-left: 6%; 
	margin-right: 7%;
	margin-top: 44px;
	/*background-color: blue;*/
	float: left;
	padding-left: -2px;
}

body, html, .container, .row {
	width: 100%;
}

#password-field {
	float: left;
	width: 135px;
}

#logo {
	font-family: times;
	font-size: 40pt;
	line-height: 176px;
}

.brand {
	color: white;
}

#events-left {
	float: left;
	/*width: 75%;*/
	/*height: 400px;*/
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 10px;
}

#events-right {
	background-color: #eee;
	width: 256px;
	position: fixed;
	/*height: 400px;*/
	right: 0;
	top: 40px;
	bottom: 0;
	padding-top: 10px;
	/*padding-left: 10px;*/

	.my-btn {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
		margin-bottom: 0px;
	}

	form {
		margin-bottom: 7px;
	}
}

#total-text {
	margin-bottom: 0px;
	margin-top: 0px;
}

#owe-text {
	margin-top: 0px;
	margin-bottom: 0px;
}

#owed-text {
	margin-top: 0px;
}

.my-h2 {
	margin-left: 5%;
	font-family: arial;
	font-size: 20px;
	margin-right: 10%;
}

#total-debt {
	color: red;
	float: right;
}

#total-credit {
	color: green;
	float: right;
}

#total-amount {
	float: right;
}

.my-navbar {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	margin-bottom: 0px;
	border-radius: 0px;
	background-color: black;
	padding-left: 20px;
	padding-right: 20px;
	height: 40px;
	clear: both;
}

a.brand {
	font-family: times;
	font-size: 24px;
	padding-top: 10px;
	&:hover {
		color: white;
		text-decoration: none;
	}
}

th {
	font-family: helvetica;
	font-size: 12px;
}

.description {
	color: gray;
	font-family: helvetica;
	font-size: 10px;
}

.event-name {
	font-size: 16px;
	width: 200px;
}

.event-table {

	.button_to {
		width: 20px;
		height: 20px;
		margin: 0px;
		margin-right: 5px;
	}
	tr {
		max-width: 400px;
		min-width: 200px;
	}
	td {
		padding: 3px;
		vertical-align: middle;
	}

	.event-row-text {
		padding-top: 5px;
		text-align: right;
		width: 99%;
		p {
			vertical-align: middle;
		}
			font-size: 18px;
	}

	.event-row-actions {
		a {
			color: green;
			&:hover{
				text-decoration: none;
			}

			i {
				&:hover {
					color: #2a2;
				}
			}
		}
	}
}

.debt-text {
	color: red;
}

.credit-text {
	color: green;
}

.event-table {
	width: 600px;
}

#events-show-left {
	width: 200px;
	position: fixed;
	top: 40px;
	bottom: 0;
	/*height: auto;*/
	padding-left: 2%;
	padding-top: 20px;
	padding-left: 20px;
}

.member-table {
	th {
		font-size: 20px;
		text-align: left;
		padding-left: 0px;
	}
	width: 100px;
	td {
		padding: 3px;
		vertical-align: middle;
		text-align: center;
		border-top: none;
		padding-left: 0px;
	}
}

#events-show-middle {
	padding-top: 20px;
	padding-left: 210px;
}

#event-title {
	margin-bottom: 3px;
	margin-top: 0px;
	a {
		&:hover{
			text-decoration: none;
		}
	}
}

.purchase-table {
	float: left;
	width: 360px;
	th {
		font-weight: bold;
		font-size: 14px;
	}

	td {
		width: 120px;
		font-size: 13px;
	}

	.p-amount {
		text-align: right;
	}
}

.payment-table {
	margin-left: 5px;
	width: 300px;
	th {
		font-weight: bold;
		font-size: 14px;
	}

	td {
		width: 120px;
		font-size: 13px;
	}

	.p-amount {
		text-align: right;
	}

}

.p-amount {
	text-align: right;
}

.organizer-text {
	font-size: 20px;
	font-family: helvetica;
	margin-bottom: 0px;
}